---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="wine, winebar, vinbar, wineshop, vinshop, naturvin, natural wine, local, local wine, organic wine, organic, vinbar københavn, vinbar nørrebro, winebar copenhagen" />
    <title>Pompette</title>
    <link rel="stylesheet" href="https://use.typekit.net/sit4hmp.css" />
    <link rel="stylesheet" href="https://use.typekit.net/sit4hmp.css" />
  </head>
  <body>
    <Header />
    <div class="section_1">
      <h2 class="citat1">“We want to make natural wine accessible for all people, keep it simple and at a good price.”</h2>
      <img class="billede1" src="../thebar.webp" alt="Billede" />
    </div>
    <div class="section_2">
      <div class="del_1">
        <h1>Our Concept</h1>
        <p>
          Since June 2018, we have worked tirelessly to provide people with the best possible natural wine at fair, honest, and democratic prices. While Pompette is possibly one of the most reasonably priced wine bars/shops in town, it is equally important to us that we have the best product
          possible. With our combined experience in natural wine spanning decades, it is of the utmost importance to maintain the highest standard possible of professional acumen combined with our laid back atmosphere and relaxed approach to wine.
        </p>
      </div>
      <div>
        <h1 class="forsvind">Our Concept</h1>
        <p>
          We aim to work with people we know and vouch for winemakers who understand the importance of regenerative agriculture. Whether or not it is certified organic or biodynamic, the Pompette team prioritises winemakers who are working with the right philosophy: to give more back to the earth
          what we get from it and minimise unwanted and unnecessary intervention in both farming and wine-making.
        </p>
      </div>
    </div>

    <div class="section_3">
      <div>
        <img src="../red12.webp" alt="red figur" class="red_figur" />
        <p>“Pompette” is a french slang, used to describe when you are sligthy drunk, or as we say in Danish “lettere beruset”.</p>
      </div>
      <img class="pompette" src="../pompette.webp" alt="pompette" />
    </div>

    <div class="winemakers">
      <h1>Meet our Winemakers</h1>
      <p class="winemakers_p">
        We are proud to represent some of the most lovely and colourful people we have ever met. To truly represent someone we know and that we may call a friend is such an honour, and we hope that you can taste it in the wine. We are always looking for an end-product in harmony - not only with
        their philosophy but also with their personality: The people behind it. Below, you can meet just a couple of the winemakers we take pride in working with. If we were to talk about them all, this page would definitely be too long.
      </p>
      <div class="grid">
        <div class="grid">
          <div class="winemaker_text">
            <h2>Jean-Francois Ganevat</h2>
            <p>
              Jean-François Ganevat, a visionary winemaker, is a master of his craft. With a deep respect for tradition and an adventurous spirit, Ganevat creates wines that are a true testament to his artistry. His meticulous attention to detail and commitment to biodynamic practices result in
              wines that are vibrant, expressive, and full of life.
            </p>
          </div>
          <img src="../winemaker1.webp" class="winemaker_1-2_3-4" alt="winemaker1" />
        </div>
        <div class="grid">
          <div class="winemaker_text">
            <h2>Christian Tschida</h2>
            <p>
              Christian Tschida, a winemaker with an artistic soul, is known for crafting wines that defy convention and ignite the senses. With a passion for natural winemaking and a deep connection to his vineyards, Tschida creates wines that are a true expression of terroir. His innovative
              approach and dedication to organic practices result in wines that are vibrant, nuanced, and brimming with personality.
            </p>
          </div>
          <img src="../winemaker2.webp" alt="winemaker2" class="winemaker_1-2_3-4" />
        </div>
      </div>
      <div class="grid">
        <div class="grid">
          <div class="winemaker_text">
            <h2>Jean-Pierre Robinot</h2>
            <p>
              Jean-Pierre Robinot, an enigmatic winemaker, is a true maverick of the vineyard. With a rebellious spirit and a profound respect for nature, Robinot creates wines that defy conventions and challenge expectations. His organic and biodynamic practices in the vineyard result in grapes
              that possess exceptional purity and character.
            </p>
          </div>
          <img src="../winemaker3.webp" alt="winemaker3" class="winemaker_1-2_3-4" />
        </div>
        <div class="grid">
          <div class="winemaker_text">
            <h2>Frederic Cossard</h2>
            <p>
              Frederic Cossard, a visionary winemaker, is a true artisan of the vineyard. With a deep reverence for nature and a commitment to biodynamic principles, Cossard crafts wines that are a pure reflection of the land. His hands-on approach and meticulous attention to detail result in wines
              that are elegant, balanced, and filled with character.
            </p>
          </div>
          <img src="../winemaker4.webp" alt="winemaker4" class="winemaker_1-2_3-4" />
        </div>
      </div>
    </div>
    <Footer />
  </body>

  <style>
    @media only screen and (max-width: 700px) {
      .citat1 {
        color: red;
        font-family: athena, sans-serif;
        font-weight: lighter;
        margin-left: 5%;
        margin-bottom: 7%;
        font-size: 25px;
      }

      .billede1 {
        width: 90%;
        z-index: 1;
      }

      .section_2 {
        background-color: #f3f3eb;
        padding-top: 15%;
        padding-bottom: 2%;
        z-index: -1;
        margin-top: -15%;
        margin-bottom: 5%;
      }

      .section_2 h1 {
        margin-left: 8%;
        font-family: athena, sans-serif;
        font-weight: 400;
        font-size: 45px;
      }

      .section_2 p {
        font-family: century-gothic, sans-serif;
        line-height: 1.6em;
        padding: 12px;
        font-size: 14px;
      }

      .section_3 p {
        position: absolute;
        margin-top: -38%;
        margin-left: 19%;
        margin-right: 20%;
        font-size: 12px;
        line-height: 1.5em;
        text-align: center;
        font-family: century-gothic, sans-serif;
      }

      .red_figur {
        margin-left: 10%;
        width: 80%;
      }

      .pompette {
        width: 100%;
        margin-left: 0%;
        margin-top: 2%;
        margin-bottom: -7%;
      }

      .winemakers {
        margin-bottom: 10%;
      }

      .winemakers h1,
      h2,
      p {
        margin-left: 7%;
        margin-right: 7%;
      }

      .winemakers h1 {
        font-family: athena, sans-serif;
        font-size: 45px;
        font-weight: 400;
      }

      .winemakers h2 {
        text-align: center;
        font-family: athena, sans-serif;
        font-size: 25px;
        font-weight: 400;
      }

      .winemakers p {
        line-height: 2em;
        font-family: century-gothic, sans-serif;
        font-size: 14px;
        line-height: 1.6em;
      }

      .winemakers img {
        margin: 0% 0% 0% 20%;
        width: 60%;
      }
      .forsvind {
        display: none;
      }
    }
    @media only screen and (min-width: 700px) {
      .section_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .section_2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #f3f3eb;
      }
      .section_3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 3%;
        margin-top: 2%;
      }
      .winemaker_1-2_3-4 {
        grid-column: 1;
      }
      .winemaker_text {
        grid-column: 2;
        grid-row: 1;
      }
      .citat1 {
        color: red;
        font-family: athena, sans-serif;
        font-weight: lighter;
        margin: 10% 20% 0% 25%;
        margin-bottom: 7%;
        font-size: 25px;
        z-index: -1;
      }

      .billede1 {
        width: 80%;
        z-index: 1;
        margin-left: -10%;
      }

      .section_2 {
        background-color: #f3f3eb;
        padding-top: 3%;
        padding-bottom: 2%;
        z-index: -1;
        margin-top: -10%;
        margin-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
      }

      .section_2 h1 {
        font-family: athena, sans-serif;
        font-weight: 400;
        font-size: 45px;
      }

      .section_2 p {
        font-family: century-gothic, sans-serif;
        line-height: 1.6em;
        padding: 12px;
        font-size: 14px;
      }

      .section_3 p {
        margin-top: -28%;
        margin-left: 20%;
        margin-right: 40%;
        font-size: 14px;
        line-height: 1.5em;
        text-align: center;
        font-family: century-gothic, sans-serif;
      }

      .red_figur {
        margin-left: 10%;
        margin-top: -2%;
        width: 60%;
      }

      .pompette {
        width: 120%;
        margin-left: -25%;
        margin-top: -10%;
        margin-bottom: -7%;
      }

      .forsvind {
        opacity: 0%;
      }
      .winemakers {
        margin: 5% 5% 0% 5%;
      }
      .winemakers h1,
      .winemakers h2 {
        font-family: athena, sans-serif;
        font-weight: 400;
      }
      .winemakers p {
        font-family: century-gothic, sans-serif;
        font-size: 14px;
        line-height: 1.5em;
      }
      .winemaker_text {
        margin: -8% 15% 0% -15%;
      }
      .winemakers_p {
        margin-right: 40%;
        margin-bottom: 3.5%;
      }
      .winemakers img {
        margin: 0% 0% 4% 0%;
        width: 75%;
      }
    }
  </style>
</html>
