---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="https://use.typekit.net/ncl1pci.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ncl1pci.css" />
  </head>
  <body>
    <Header />
    <main>
      <h1>MERCH COMING SOON</h1>
    </main>
    <Footer />
  </body>

  <style>
    h1 {
      font-family: "athena", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      font-size: 57px;
      line-height: 1.5em;
      color: #ff0000;
      margin: 10% 2% 15% 2%;
    }
  </style>
</html>
