<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/sit4hmp.css">  
    <link rel="stylesheet" href="https://use.typekit.net/sit4hmp.css">
</head>
</html>
<body>
    <main>
        <div class="banner">
        <h1>The Bar </h1>
        <p> Located in the heart of Denmark, Pompette offers a captivating atmosphere where wine enthusiasts can indulge in a carefully curated selection of exceptional wines. The warm and inviting ambiance, combined with attentive service, creates an enchanting space where guests can enjoy their favorite wines or explore new and exciting flavors. Whether you're seeking a memorable evening out or a place to unwind with friends, Pompette promises an extraordinary experience for all wine lovers.</p>
        <img class="thebar" src="../../public/TheBar-Image.png" alt="Image inside the wine bar" />
    </div>
    </main>
</body>

<style>

* {
margin: 0;
padding: 0;
}

@media only screen and (max-width: 800px) {

* {
margin: 0;
padding: 0;
}

.banner {
background-color:#F3F3EB;
padding: 5%;
}

.thebar{max-width: 100%;}

}

h1, h2 {font-family: athena,sans-serif;
font-weight: 600;
font-style: normal;
font-size: 45px;
}

p {font-family: century-gothic,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 14px;
margin-bottom: 15px;
}

</style>