---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/sit4hmp.css&display=swap" />
    <link rel="stylesheet" href="https://use.typekit.net/sit4hmp.css&display=swap" />
  </head>

  <body>
    <Header />
    <main>
      <div class="banner">
        <h1>The Bar</h1>
        <p>
          Located in the heart of Denmark, Pompette offers a captivating atmosphere where wine enthusiasts can indulge in a carefully curated selection of exceptional wines. The warm and inviting ambiance, combined with attentive service, creates an enchanting space where guests can enjoy their
          favorite wines or explore new and exciting flavors. Whether you're seeking a memorable evening out or a place to unwind with friends, Pompette promises an extraordinary experience for all wine lovers.
        </p>
      </div>
      <img class="thebar" src="../../TheBar-Image.webp" alt="Image inside the wine bar" />

      <div class="winemenu">
        <div class="col_1_1">
          <div>
            <h1>Wine and Menu</h1>
            <p>
              Discover a world of flavors through our carefully curated wines at our wine bar. From bold reds to crisp whites and everything in between. Accompanying the exceptional wines is a small, but very tasty, menu designed to enhance the tasting experience, featuring artisanal cheeses,
              charcuterie boards, and delectable tapas inspired by global cuisines. Whether you're a wine connoisseur or a curious beginner, Pompette offers an unforgettable journey of taste and pleasure.
            </p>
            <p>Interested in this month’s favorites? We got you covered.</p>
            <div class="image-container">
              <a href="/listeview">
                <img class="hover" src="/tell-me-more-knap-hover.webp" alt="tell me more" />
                <img class="insta_knap" src="/tell-me-more-knap.webp" alt="tell me more" />
              </a>
            </div>
          </div>
          <div class="quote">
            <img class="citation" src="../../citation.webp" alt="" />
            <h2>“Pompette is all about wine for the people. Whether you’re a hard-core natural wine nerd or simply curious, we have something for you.”</h2>
          </div>
        </div>
        <section class="center_grid">
          <div class="image_grid">
            <img class="grid_images" src="../../thebar_1.webp" alt="Girl enjoying wine and snacks" />
            <img class="grid_images" src="../../thebar_2.webp" alt="Girls enjoying wine" />
            <img class="grid_images" src="../../thebar_3.webp" alt="Girls enjoying wine outside" />
            <img class="grid_images" src="../../thebar_4.webp" alt="Wine and flowers" />
          </div>
        </section>
      </div>
      <Footer />
    </main>

    <style>
      * {
        margin: 0;
        padding: 0;
      }

      /* .tellmemore_button
{background-image: url('../../public/tellmemore.png');
background-size:auto;
background-repeat: no-repeat;
max-width: 100%;
} */

      /* ------ Styling mobilview ------- */

      @media only screen and (max-width: 700px) {
        .banner {
          background-color: #f3f3eb;
          padding: 5%;
          z-index: -1;
          padding-bottom: 30%;
        }

        .thebar {
          max-width: 90%;
          margin-left: 5%;
          z-index: 1;
          margin-top: -25%;
        }

        .winemenu {
          padding: 5%;
        }

        .center_grid {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .image_grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          max-width: 70%;
        }
        .grid_images {
          max-width: 100%;
        }

        .citation {
          padding-left: 5%;
        }
        .image-container {
          position: relative;
          width: 170px;
          height: 140px;
          margin: 5% 0% 10% 25%;
          cursor: pointer;
        }

        .image-container img {
          width: 100%;
          height: 100%;
          position: absolute;
        }

        .image-container img:hover {
          opacity: 0;
        }

        .image-container .hover-image {
          display: none;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        .image-container:hover .hover-image {
          display: block;
        }
        .quote h2 {
          font-size: 20px;
        }
        .quote img {
          width: 20%;
        }
      }

      /* ------ Styling desktop ------- */

      @media only screen and (min-width: 700px) {
        .banner {
          padding: 5%;
          background-color: #f3f3eb;
          z-index: -1;
          margin-top: 3%;
        }
        .banner p {
          margin-right: 45%;
          margin-top: -1em;
        }

        .thebar {
          max-width: 38%;
          z-index: 1;
          position: absolute;
          margin-top: -27.5%;
          margin-left: 56%;
        }

        .col_1_1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 5%;
          margin-bottom: 5%;
          gap: 150px;
        }

        .quote {
          margin-top: 10%;
        }

        .center_grid {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .image_grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 30px;
          max-width: 70%;
          margin-bottom: 4%;
          margin-top: -5%;
        }

        .grid_images {
          max-width: 100%;
        }
        .image-container {
          position: relative;
          width: 170px;
          height: 140px;
          margin: 4% 0% 0% 0%;
          cursor: pointer;
        }

        .image-container img {
          width: 100%;
          height: 100%;
          position: absolute;
        }

        .image-container img:hover {
          opacity: 0;
        }

        .image-container .hover-image {
          display: none;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        .image-container:hover .hover-image {
          display: block;
        }
      }

      /* ------ Generel styling, skrifttyper osv. ------- */

      h1 {
        font-family: athena, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 45px;
        margin-bottom: 3%;
        line-height: 1.5em;
      }

      h2 {
        font-family: athena, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 25px;
        line-height: 1.5em;
        color: #ff0000;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
      }

      p {
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 1.5em;
      }
    </style></body
  >
</html>
