<footer>
  <img src="/Pompette_pig 3.webp" alt="pompette" class="pompette_logo_black" />
  <p>
    <strong>CONTACT US</strong><br /> To get in touch, visit our contact page or write us at support@pompette.dk <br />
    <br />
    For employment opportunities, see our current vacancies
  </p>
  <p>
    <strong>OPENING HOURS</strong>
    <br /> all day <br /> 12am - 12pm
    <br /><br />
    <strong>No Reservations</strong>
  </p>

  <div>
    <strong>SOCIALS</strong>
    <div class="socials">
      <a class="insta" target="_blank" href="https://www.instagram.com/pompettecph/"> <img src="/icon-instagram.svg" alt="instagram" /></a>
      <a class="facebook" target="_blank" href="https://www.facebook.com/pompettecph"> <img src="/icon-facebook.svg" alt="facebook" /></a>
    </div>
  </div>
</footer>

<style>
  footer {
    margin-top: 5%;
  }
  .socials {
    margin-top: 5%;
  }
  .insta:hover,
  .facebook:hover {
    opacity: 40%;
  }
  hr {
    color: black;
    margin-bottom: 0%;
  }
  footer {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr;
    background-color: #f3f3eb;
    padding: 3em;
    font-family: century-gothic, sans-serif;
    font-size: 14px;
    text-align: center;
    gap: 5rem;
    line-height: 1.5em;
  }
  .pompette_logo_black {
    width: 120%;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #ff0000;
  }
  @media only screen and (max-width: 700px) {
    footer {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 0.5rem;
      line-height: 1.5em;
      font-size: 14px;
    }
    .pompette_logo_black {
      width: 50%;
    }
  }
</style>
