<nav class="navbar">
  <div class="nav_grid">
    <div class="logo">
      <a href="/">
        <img src="/logo_roed.webp" alt="pompette" />
      </a>
    </div>
    <ul class="menupunkter">
      <div class="dropdown">
        <li id="shop" class="menu-arrow">Shop ↓</li>
        <div class="sub-menu">
          <a href="/listeview">Wine</a>
          <a href="/notwine">Not Wine</a>
        </div>
      </div>
      <li><a href="/thebar">The Winebar</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><img src="/cart-red.webp" alt="" /></li>
    </ul>
  </div>
  <style>
    .navbar {
      padding: 1em;
    }
    .nav_grid {
      display: grid;
      grid-template-columns: 1fr 5fr;
    }
    .logo {
      flex-shrink: 0;
    }
    .logo img {
      max-width: 160px;
      height: auto;
    }
    .menupunkter {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around;
      list-style: none;
      font-family: century-gothic, sans-serif;
      margin: 2.5% 0% 0% 45%;
    }

    .menupunkter a {
      text-decoration: none;
      color: #ff0000;
      font-size: 14px;
    }
    .menupunkter img {
      flex-shrink: 0;
      max-width: 25px;
      height: auto;
    }
    .menupunkter li {
      color: #ff0000;
      font-size: 14px;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .sub-menu {
      display: none;
    }
    .sub-menu.open {
      display: flex;
      flex-direction: column;
    }

    @media only screen and (max-width: 700px) {
      .logo img {
        max-width: 120px;
        height: auto;
      }
    }
  </style>
  <script>
    const arrowButton = document.querySelectorAll(".menu-arrow");
    const subMenu = document.querySelector(".sub-menu");

    arrowButton.forEach((el) =>
      el.addEventListener("click", () => {
        subMenu.classList.toggle("open");
      })
    );
  </script>
</nav>
