<nav class="navbar">
  <div class="logo">
    <a href="/">
      <img src="/logo_roed.webp" alt="pompette" />
    </a>
  </div>
  <ul class="nav-menu">
    <li class="nav-item">
      <div class="dropdown">
        <a id="shop" class="menu-arrow">Shop ↓</a>
        <div class="sub-menu">
          <a href="/listeview">Wine</a>
          <a href="/notwine">Not wine</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="winebar" href="/thebar">The Winebar</a>
    </li>
    <li class="nav-item">
      <a href="/aboutus">About Us</a>
    </li>
    <li>
      <div class="cart">
        <img src="/cart_red.svg" alt="" />
      </div>
    </li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>

<style>
  .cart {
    margin-top: -3%;
    cursor: pointer;
    flex-shrink: 0;
  }
  .cart img {
    max-width: 35px;
    height: auto;
  }
  .navbar {
    background-color: white;
    padding-left: 0px;
    z-index: 100;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  nav {
    display: grid;
    grid-template-columns: 5fr 3fr;
    padding: 2em;
  }
  .logo {
    margin-top: -2%;
    margin-left: 2%;
    flex-shrink: 0;
  }
  .logo img {
    max-width: 160px;
    height: auto;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 3%;
  }

  a {
    text-decoration: none;
    color: #ff0000;
    font-family: century-gothic, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
  }
  a:hover {
    color: black;
  }
  /* Dropdown Button */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .dropbtn {
    color: #ff0000;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    background-color: white;
    font-size: 16px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .sub-menu {
    display: none;
  }
  .sub-menu a {
    color: rgb(148, 148, 148);
  }
  .sub-menu a:hover {
    color: rgb(80, 80, 80);
  }

  .sub-menu.open {
    display: flex;
    flex-direction: column;
    margin-bottom: -30%;
  }

  .menu-arrow:hover {
    color: black;
  }
  .hamburger {
    display: none;
  }

  .bar {
    display: block;
    width: 35px;
    height: 2px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ff0000;
  }
  #shop {
    cursor: pointer;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: 1fr 1.28fr 1fr 1fr;
    flex-shrink: 0;
  }
  .nav-menu li {
    max-width: 200px;
    height: auto;
  }

  @media only screen and (max-width: 1120px) {
    .cart {
      width: 10%;
      margin-top: 0%;
      cursor: pointer;
    }
    .logo img {
      max-width: 120px;
      height: auto;
    }
    .nav-menu {
      position: fixed;
      left: -150%;
      top: -1rem;
      padding: 6rem 0rem 3rem 0rem;
      background-color: #f3f3eb;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1.2fr 1fr 1fr 1fr;
    }
    li {
      margin-bottom: 9%;
    }

    .nav-menu.active {
      left: 0;
    }

    .hamburger {
      display: block;
      cursor: pointer;
      margin-top: 5%;
      margin-left: 50%;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }

    .sub-menu {
      display: none;
      text-align: center;
    }
    .sub-menu.open {
      display: flex;
      flex-direction: column;
    }
  }
</style>
<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");

  hamburger.addEventListener("click", mobileMenu);

  function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
  }

  const navLink = document.querySelectorAll(".nav-link");

  navLink.forEach((n) => n.addEventListener("click", closeMenu));

  function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
  }
  const arrowButton = document.querySelectorAll(".menu-arrow");
  const subMenu = document.querySelector(".sub-menu");

  arrowButton.forEach((el) =>
    el.addEventListener("click", () => {
      subMenu.classList.toggle("open");
    })
  );
</script>
