<nav class="navbar">
  <div class="nav_grid">
    <div class="logo">
      <a href="/">
        <img src="/logo_roed.webp" alt="pompette" />
      </a>
    </div>
    <ul class="menupunkter">
      <li><a href="/">Shop</a></li>
      <li><a href="/thebar">The Winebar</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><img src="/cart-red.webp" alt="" /></li>
    </ul>
  </div>
  <style>
    .navbar {
      padding: 1em;
    }
    .nav_grid {
      display: grid;
      grid-template-columns: 1fr 5fr;
    }
    .logo {
      flex-shrink: 0;
    }
    .logo img {
      max-width: 160px;
      height: auto;
    }
    .menupunkter {
      display: flex;
      justify-content: end;
      list-style: none;
      font-family: century-gothic, sans-serif;
      margin: 2.5% 2% 0% 0%;
    }

    .menupunkter a {
      text-decoration: none;
      color: #ff0000;
      font-size: 14px;
    }
    .menupunkter img {
      flex-shrink: 0;
      max-width: 25px;
      height: auto;
    }
    .menupunkter li {
      margin-left: 10%;
    }

    @media only screen and (max-width: 700px) {
      .logo img {
        max-width: 120px;
        height: auto;
      }
    }
  </style>
</nav>
